# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 140

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{kt,kts}]
ktlint_code_style = intellij_idea
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_no-blank-line-in-list = disabled
ktlint_standard_function-expression-body = disabled
ij_kotlin_name_count_to_use_star_import = 10
ij_kotlin_name_count_to_use_star_import_for_members = 10
